body{
    background: #C5EFF7
}

header{
display: flex;
align-content: center;
flex-wrap: wrap;
justify-content: center;

}
nav{
    border-right: 2px solid rgb(72, 106, 134);
    padding: 10px;
    font-style: oblique;
    font-family: Lucida Console;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    flex-shrink: 0;
    
}
.a1{
    display: flex;
    flex-flow: row wrap;
  margin-bottom: 15px;
}

.s1 {
    width: 20%;
    margin-left: 10px;
    padding-right: 15px;
    border-right: 3px solid rgb(72, 106, 134);
    font-family: URW Chancery L, cursive;
}
.s2 {
    width: 25%;
    position: relative;
    margin-left: 10px;
    padding-right: 15px;
    font-family: URW Chancery L, cursive;
}
.h2{
    position: absolute;
    top: 250px;
    width: 100%;
    font-size: 15px;
    font-family: URW Chancery L, cursive;

}
.s3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    position: relative;
    margin-left: 10px;
    padding-right: 15px;
    border-right: 3px solid rgb(72, 106, 134);
    font-family: URW Chancery L, cursive;
}
.h23{
    position: absolute;
    top: 250px;
    width: 100%;
    font-size: 15px;
    left: 5px;
    font-family: URW Chancery L, cursive;
}
.s4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: relative;
    margin-left: 10px;
    padding-right: 15px;
    font-family: URW Chancery L, cursive;

}
.am2{
    display: flex;
    align-content: left;
}
footer{
    display: flex;
    justify-content: center;
    border-top: 2px solid grey;
    margin: 0 2px 0 2px;
}
address{
    border-right: 2px solid grey;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
}